# ========================
# Laravel
# ========================
/laravel/vendor/
/laravel/node_modules/
/laravel/.env
/laravel/.env.*
/laravel/storage/*.key

/laravel/bootstrap/cache/
/laravel/storage/
/laravel/bootstrap/cache/*.php
/laravel/storage/logs/*
/laravel/storage/framework/cache/*
/laravel/storage/framework/sessions/*
/laravel/storage/framework/views/*

# ========================
# Frontend (Vite/React)
# ========================
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.*

# ========================
# System files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
*.swp
*.swo
